.details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

@media (min-width: 425px) {
  .details {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .details {
    width: 600px;
  }
}