.detail {
 --pos: 3;

  background-color: #ff852e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  order: var(--pos);
}

.detail__content {
  margin: 0;
}

.detail__description {
  margin: 0;
  font-size: 10px;
}