.footer {
  bottom: 20px;
  font-size: 12px;
  max-width: 80vw;
  text-align: center;
}

.footer__content {
  margin: 0;
}

.footer__link {
  color: #333333;
}

.footer__link:visited {
  text-decoration: none;
}